
.game-comment-form {
    // background: pink;
    margin: 10px;
    // border: 1px solid transparent;
      display: flex;
  flex-direction: column;
  align-items: center;
    h3 {
        font-size: 1.5em
    }
    input {
        background: $one;
        align-self: flex-end;
        margin: 5px 10px;
        padding: 5px;
    }
    textarea {
        background: $lightest-green;
        padding: 5px;
    }
    &:hover {
        cursor: initial;
    }
    [class*='comment-form-bottom'] {
        width: 100%;
        display: flex;
    }
    .comment-form-bottom-no-star {
        justify-content: flex-end;
    }
    .comment-form-bottom-star {
        justify-content: space-between;
    }
    .star-rating-div {
        display: flex;
        width: fit-content;
        span {
            margin-right: 5px;
        }
    }
}

.game-comment-form-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    textarea {
        height: 100%;
        border: 1px solid $five;
    }
}

.game-comment-list {
    padding: 0 7px;
    background: $zero;
    // border: 1px solid $mid-green;
    color: $five;
    // section {
    //     border-left: 2px solid $three;
    //     margin: 10px 0;
    //     box-sizing: border-box
    // }
    li {
        background: $zero;
        // margin: 10px 0;
        padding: 0 10px;
        display: block;
        overflow-wrap: break-word;
    }
    h1 {
        font-size: 2em;
        padding: 5px;
        text-align: center;
    }
    h2 {
        color: $dark-green;
        // padding-left: 10px
    }
    p {
        margin: 8px 0;
        font-family: $serif;
        color: $five;
    }
    // h4 {
    //     display: inline-block;
    //     position: absolute;
    //     border: 1px solid $three;
    //     height: 95%;
    //     margin: 0 auto;
    // }
}

.game-comment-section {
    border: 1px solid transparent;
    padding: 7px 0;
    margin: 10px 0;
    box-sizing: border-box;
    &:hover {
        cursor: pointer;
    }
    div {
        padding-left: 10px;
    }
}

.game-comment-buttons {
    display: flex;
    justify-content: flex-start;
    button {
        color: white;
        margin-right: 10px;
        background: $light-green;
        background: $one;
        padding: 5px;
        border-radius: 5px;
        &:hover {
            color: $four;
            // background: lighten($light-green, 20);
            cursor: pointer;
        }
    }
}

.children-game-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    section {
        width: 95%;
    }
}

.expand-box {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: $one;
    margin-left: -15px;
    margin-right: 10px;
    border-radius: 90%;
    position: relative;
    top: 3px;

    &:hover {
        // background: lighten($light-green, 20);
        background: white;
        color: $four;
        cursor: pointer;
    }
    .expand-box-plus {
        color: white;
        position: relative;
        position: relative;
        top: -3px;
        left: 3px;
        font-weight: bolder;
        display: inherit;
        &:hover {
            color: $four;
        }
    }
}

.collapse-bar {
    border-left: 1px solid $one;
}

.collapse-bar-hover {
     border-left: 1px solid white; 
}

.game-comment-link {
    position: relative;
    bottom: 75px;
}