.game-comment-form {
    background: pink;
    input {
        background: green;
    }
    textarea {
        background: yellow;
    }
}

.game-comment-list {
    // padding: 10px;
    background: $zero;
    border: 1px solid $mid-green;
    color: $five;
    section {
        border-left: 2px solid $three;
        margin: 10px 0;
        &:hover {
            border-left: 2px solid white;
        }
    }
    li {
        background: $zero;
        margin: 10px 0;
        padding: 10px;
        display: block;
        overflow-wrap: break-word;
    }
    h1 {
        font-size: 1.2em;
    }
    h2 {
        color: $dark-green;
    }
    p {
        margin: 8px 0;
        font-family: $serif;
    }
    // h4 {
    //     display: inline-block;
    //     position: absolute;
    //     border: 1px solid $three;
    //     height: 95%;
    //     margin: 0 auto;
    // }
}

.game-comment-buttons {
    display: flex;
    justify-content: flex-start;
    button {
        margin-right: 10px;
        background: $light-green;
        padding: 5px;
        border-radius: 5px;
        &:hover {
            color: $four;
            background: lighten($light-green, 20);
            cursor: pointer;
        }
    }
}

.children-game-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    section {
        width: 95%;
    }
}

// .child-comment {
//     width: 80%;
// }