<% if logged_in? %>
  <script type='text/javascript'>
    window.currentUser = <%= render('api/users/user.json.jbuilder',
      user: current_user).html_safe %>
  </script>
  <% end %>
<script>
  window.banner = '<%= image_path('capybara-swiming.jpg')%>'
</script>
<main id="root"></main>
