<% if logged_in? %>
  <script type='text/javascript'>
    window.currentUser = <%= render('api/users/user.json.jbuilder',
      user: current_user).html_safe %>
  </script>
  <% end %>
<script>
  window.search = '<%= image_path('magnifying_glass.png')%>'
  window.windowGenres = ['indie', 'action', 'adventure', 'casual', 'strategy', 'rpg', 'simulation',
                      'sports', 'racing', 'mmo', 'platform']
  window.windowCategories = ['single-player', 'multi-player', 'co-op']
  window.banner = '<%= image_path('exterior-parallaxBG1.png')%>'
</script>
<main id="root"></main>
