.faded {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1270px;
}

.modal-wrap {
  position: absolute;
  // margin: 35% auto;
  background: $zero;
  width: 35%;
  left: 32.5%;
  top: 15%
}

.advanced-search-form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  .search-bar {
    width: 70%;
  }
  h3 {
    color: $four;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
  }
  h4 {
    color: $four;
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 0 3px 0;
  }
  h5 {
    margin: 15px auto;
    display: block;
    height: 0;
    width: 80%;
    border-top: 1px solid $five;
  }
  p {
    display: block;
    width: 100%;
    height: 20px;
    color: red;
    text-align: center;
  }
  .submit-div {
    width: 100%;
    display: flex;
    justify-content: center;
    input {
      margin: 7px;
    }
  }
}
.search-date {
  margin-bottom: 5px;  
  display: flex;
  flex-direction: column;
  label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }
  span {
    align-self: flex-start;
  }

  input {
    width: 50%;
    align-self: flex-end;
    margin-right: 20px;
  }
}
.search-boxes {
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  label {
    display: flex;
    padding-right: 10px;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
  }
  span {
    align-self: flex-start;
  }
  input {
    margin-right: 10px;
  }
}

.search-price {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;  
  }
  input {
    background-color: lighten($zero, 20%);
    border: 1px solid darkgray;
    color: $five;
    width: 50px;
    margin-right: 75%;
  }
}

.category {
  label {
    width: 50%;
  }
}