.faded {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-wrap {
  position: absolute;
  // margin: 35% auto;
  background: $four;
}

.advanced-search-form {
  width: 50vw;
  left: 25vw;
  padding: 31px;
  h3 {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
  }
  h4 {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
  }
}
.search-date {
  margin-bottom: 5px;  
  display: flex;
  flex-direction: column;
}
.search-boxes {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  label {
    padding-right: 10px;
  }
  input {
    padding-left: 5px;
  }
}

.search-price {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  input {
    background-color: $zero;
    border: 1px solid darkgray;
    color: $five;
    width: 50px;
  }
}