<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>Hello, <%= @user.username %>, and welcome to goodPlays</h1>
        <p>That is all. We just wanted to say hi.  Please enjoy the attached image</p>
        <p>Click here to return to the site: <%# @url %></p>
</body>
</html>