.browse {
  position: relative;
}

.browse-menu {
  position: absolute;
  top: 29px;
  padding: 5px;
  background: purple;
  > li {
    background: green;
  }
}

.browse-sub-menu {
  position: absolute;
  left: 20px;
  background: yellow;
}

.show {
  display: block;
}