.browse {
  position: relative;
}

.browse-menu {
  width: 112px;
  position: absolute;
  top: 29px;
  background: $four;

  > li {
    text-align: center;
    padding: 2px;
    margin: 2px;
    background: $zero;
    color: $four;
  }
  > li:hover {
    color: $zero;
    background: $four;
  }
}

.browse-sub-menu {
  position: absolute;
  width: 109px;
  left: 105px;
  top: 0px;
  background: $four;
  z-index: 4;
    > li {
    width: 97%;
    text-align: center;
    padding: 2px;
    margin: 2px;
    margin-right: 4px;
    border-right: 1px solid $four;
    background: $zero;
    color: $four;
  }
  > li:hover {
    color: $zero;
    background: $four;
    cursor: pointer;
  }
}

.show {
  display: block;
}