[class*="personal-link-"] {
    width: 32px;
    height: auto;
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

footer {
    // margin-top: 30px;
    font-family: $sans;
    // background: $zero;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
        margin: 5px 20px;
    }
}

.flat {
    flex-direction: row;
}