.splash-page {
  margin: 50px;
  display: flex;
  flex-direction: column;
  h1 {
    font-weight: bolder;
    font-size: 4em;
    align-self: center;
  }
  h2 {
    font-size: 1.3em;
    margin-bottom: 30px;
    align-self: center;    
  }
}

.splash-game-show {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  li {
    padding: 3px, 0, 3px, 0;
  }
  .button-container {
    margin-top: 10px;
  }
}

.splash-game-title {
  font-size: 3em;
  margin-top: 5px;
}

.splash-game-release-date {
  margin-top: 5px;
}

.splash-game-description {
  font-family: $serif;
  color: black;
}

.splash-game-show {
  padding-top: 12px;
  li {
    padding: 3px, 0, 3px, 0;
  }
}

.splash-link-show {
  &:hover {
    color: $two;
  }
}