.game-show {
  margin-top: -327px;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;

  li {
    padding: 3px, 0, 3px, 0;
    color: $dark-green;
  }
  .button-container {
    margin-top: 10px;
    button:hover {
      color: white;
      background: $four;
      border: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    a:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

.game-title {
  font-size: 3em;
  margin-top: 5px;
  color: $five;
  font-weight: bold;
}

.game-price {
  font-size: 1.5em;
  margin-top: 5px;
}

.game-release-date {
  margin: 5px 0 3px 0;
}

.game-description {
  margin-top: 8px;
  font-family: $serif;
  color: $five;
  span {
    width: 0;
    height: 0;
    display: inline;
    color: $two;
    font-weight: bold;
  }
  span:hover {
    color: $four;
    cursor: pointer;
  }
}

.links {
  margin: 10px 0;
  a {
    margin: 0 5px;
    background: $mid-green;
    color: white;
    padding: 2px 4px;
  }
  a:hover {
    border-bottom: 1px solid transparent;
    background: $light-green;
    // color: $four;    
  }
}
