.game-jump-wrapper {
    height: 100%;
  width: 20%;
  padding-top: 46px;
  padding-left: 14px;
}

.game-link-container {
      height: 100%;
  position: absolute;
  width: 8.3333%;
}

.game-jump-links {
font-style: italic;
  // background: pink;
  position: sticky;
  // background: $zero;
  color: $dark-green;
  text-align: center;
  min-width: fit-content;
  width: 8%;
  top: 381px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-left: -184px;
  h3 {
    margin: 15px auto;
    display: block;
    height: 0;
    width: 80%;
    border-top: 1px solid $five;
  }
  a {
    padding: 2px 0;
    text-align: left;
    font-style: normal;
    color: $four;
    &:hover {
      color: $one;
    }
  }
}