.sorter-wrapper {
  height: 100%;
  width: 20%;
  padding-top: 46px;
  padding-left: 14px;
  position: relative;
  top: 85px;
}

.game-index-sorter {
  position: sticky;
  color: $dark-green;
  // background: $zero;
  // height: 300px;
  // margin-top: 880px;
  width: 100%;
  min-width: 240px;
  top: 100px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  // div {
  //   height: 0;
  //   width: 80%;
  //   border: 1px solid $four;
  //   align-self: center;
  // }
  h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
  }
  h1 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
  }
  h4 {
    color: red;
    width: 100%;
    align-self: center;
    text-align: center;
  }
  h3 {
    margin: 15px auto;
    display: block;
    height: 0;
    width: 80%;
    border-top: 1px solid $five;
  }
  h5 {
    margin: 5px auto;
    display: block;
    height: 0;
    width: 80%;
    border-top: 1px solid $five;
  }
  button {
    margin: 3px;
    color: $four;

  }
  button:first-of-type {
    margin-top: 25px
  }
  button:last-of-type {
      margin-bottom: 25px;
  }
  span {
    display: inline-block;
    border-bottom: 1px solid transparent;
        display: flex;
    align-items: center;
  }
  span:hover, svg:hover {
    // border-bottom: 1px solid $four;
    color: $one;
    cursor: pointer;
  }
}

.high-low-search li {
  padding-left: 10px;
  &:hover {
    cursor: pointer;
    color: $one;
  }
}