.games {
  display: flex;
}

.games-list {
  background: transparent;
  padding-right: 0;
  li {   
    border: 1px solid black;
    padding-left: 25px;
  }
}
.game-index-item {
  background: $four;
  color: $one;
}
.game-index-item:hover {
  background: $one;
  color: $four;
  a {
    display: inline-block;
    width: 100%;
  }
}

