.games {
  display: flex;
  flex-wrap: wrap;
  h1 {
    width: 100%;
    text-align: center;
    margin: 10px 0 5px 0;
    font-size: 2em;
  }
}

.games-list {
  background: transparent;
  padding-right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 50px;
}

.game-index-item {
  // background: $four;
  color: $one;
  border: 1px solid black;
  margin: 10px;
  img {
    display: block;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

.game-index-item:hover {
  background: $one;
  color: $four;
  a {
    display: inline-block;
    width: 100%;
  }
}

