.nav-icons {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 405px;
  a {
    background: $zero;
    margin: 0 20px;
  }
  a:hover {
    border-bottom: 1px solid transparent;
    color: white;
  }
  .button {
    color: white;
    padding : 0;
    border: none;
  }
  .button:hover {

    color: $two;
  }
}