.user-nav {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  ul {
    // background: red;
    display: flex;
    width: 80%;
    align-content: center;
    justify-content: space-around;
  }
  .search-bar {
    width: 350px;
  }
}