.nav-options {
  position: relative;
  align-self: flex-start;
  align-items: center;
  display: flex;
  justify-content: center;
  li {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
  }
    a:hover {
    border-bottom: 1px solid transparent;
    color: white;
  }
}