.main-section {
  color: $four;
  width: 100%;
  display: block;
}

img {
  display: block; 
  position: relative;
  width: 100%;
  height: 368px;
  // z-index: -1;
}

[class*='css-'] {
  position: fixed;
  left: 53vw;
  top: 39vw;
  z-index: 10;
  border: 6px solid purple;
}