.inline-block {
  display: inline-block;
}

.none {
  display: none !important;
}

.inherit {
  display: inherit;
}

.transparent {
  color: transparent !important;
  background: transparent !important;
  * {
    color: transparent !important;
    background: transparent !important;
  }
}