.recommended {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 8.5%;

  li {
    padding: 10px, 0;
    // position: relative;
    display: flex;
    // background: purple;
  }
  a {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border: 2px solid transparent;
  }
  a:hover {
    border: 2px solid $five;
  }
  div {
    display: flex;
    height: 125px;
    width: 125px;
    flex-direction: column;
    justify-content: flex-start;
    background: $zero;
    section {
      height: 75%;
      width: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
    }
    h5 {
      display: block;
      margin-bottom: 5px;
      width: 100%;
      background: $zero;
      font-size: .8em;
      color: $five;
    }
    span {
      text-align: center;
      width: 80%;
      border-bottom: 1px solid $five;
      align-self: center;    
      margin: 5px 0; 
    }
    p{
      font-size: .7em;
    }
    button {
      height: 25%;
      width: 100%;
      text-align: center;
      background: $one;
      color: $four;
      text-align: center;
      border-radius: 10px 10px 0 0;
      z-index: 2;
    }
    button:hover {
    cursor: pointer;
    background: $three;
    color: white;
    }
  }
  img {
    display: block;
    width: 150px;
    height: 125px;
  }
  h3 {
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
  }
  h3:last-of-type {
    margin-top: 40px;
  }
}