.user-profile {
  padding-top: 12px;
  display: flex;
  margin: 0;
  align-items: flex-start;
}

.game-rack {
  display: flex;
  width: 700px;
  flex-direction: column;
  flex-wrap: wrap;
  a {
    font-weight: bold;
    color: $five;
  }
}

.game-box {
  width: 100%;
  display: flex;
  padding: 10px 0;
}

.thumb-nail-img {
  height: 200px;
  width: 450px;
  display: block;
}

.game-rack-info {
  background: $zero;
  display: block;
  height: 200px;
  width: 350px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin: 50px;
    h1 {
    align-self: center;
    font-size: 3em;
    font-weight: bold;
    color: $five;
  }
  h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: $four;
  }
  h2 {
    padding-bottom: 10px;
  }
}

.recommended {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end
  li {
    padding: 10px, 0;
  }
  a {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  span {
    display: block;
    height: 100px;
    width: 100px;
    background: $zero;
  }
  img {
    display: block;
    width: 100px;
    height: 100px;
  }
  h3 {
    padding-bottom: 40px;
  }
}

.split-headers {
  display: flex;
  justify-content: space-between
}