.user-anchor-wrapper {
    background: green;
    height: 100%;
    width: 150px;
    // padding-left: 14px;
}

.user-link-container {
    height: 100%;
  position: absolute;
  width: 8.3333%
}

.user-anchor-links {
  font-style: italic;
  // background: pink;
  position: sticky;
  text-align: center;
  color: $dark-green;
  min-width: 87px;
  width: 8%;
  top: 100px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  // margin-left: -44px;
  h3 {
    margin: 15px auto;
    display: block;
    height: 0;
    width: 80%;
    border-top: 1px solid $five;
  }
  a {
    text-align: left;
    font-style: normal;
    color: $four;
    text-align: center;
    &:hover {
      color: $one;
    }
  }
}