.user-anchor-wrapper {
    background: green;
    height: 100%;
    width: 150px;
    // padding-left: 14px;
}

.user-anchor-links {
  font-style: italic;
  background: pink;
  position: sticky;
  background: $zero;
  color: $dark-green;
  // height: 300px;
  // margin-top: 880px;
  width: fit-content;
  top: 200px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-left: -44px;
  a {
    font-style: normal;
    color: $four;
  }
}