.game-rack {
  display: flex;
  width: 700px;
  flex-direction: column;
  flex-wrap: wrap;
  a {
    font-weight: bold;
    color: $four;
    display: flex;
    width: 100%;
    border: 2px solid transparent
  }
  a:hover {
    border: 2px solid $five;
  }
  .add-more {
    display: inline;
    border: none;
    // border-bottom: 1px solid transparent;
  }
  .add-more:hover {
    border: none;
    color: $two;
    // border-bottom: 1px solid gray;
  }
}

.game-box {
  width: 100%;
  display: flex;
  padding: 10px 0;
}

.thumb-nail-img {
  height: 200px;
  width: 450px;
  display: block;
}

.game-rack-info {
  background: $zero;
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 350px;
  div {
    padding: 6px;
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h5 {
      font-size: 1.2em;
      color: $five;
      align-self: center;
      text-align: center;
    }
    span {
      text-align: center;
      width: 80%;
      border-bottom: 1px solid $five;
      align-self: center;
    }
  }
  button {
    width: 100%;
    height: 25%;
    background: $one;
    color: $four;
    border-radius: 10px 10px 0 0;
    text-align: center;
    align-self: flex-end;
  }
  button:hover {
    cursor: pointer;
    background: $three;
    color: white;
    // border: 2px solid white;
  }
}

.add-more {
  font-style: italic;
}

.game-genres {
  display: flex;
  li {
    margin: 0 5px;
  }
}

.game-categories {
  display: flex;
  li {

  }
}